/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}
/* END CSS RESET */

body {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

button,
.icon {
  cursor: pointer;
}

/* Sidebar */
aside {
  grid-area: 1 / 1 / 6 / 2;
  background-color: #1992d4;
  color: white;
}
header {
  grid-area: 1 / 2 / 2 / 6;
}
main {
  grid-area: 2 / 2 / 6 / 6;
}

#dashboard {
  color: white;
  display: flex;
  padding: 20px;
}
#dashboard-icon {
  height: 40px;
  padding-right: 10px;
}

nav a {
  margin: 10px 0;
  padding: 0 20px;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
nav img {
  padding: 0 10px;
}

#communities {
  margin-bottom: 5rem;
}

/* Header */

header {
  z-index: 999;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.02) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.02) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.02) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.02) 0px 24px 24px -12px;
}

.search-bar-container,
.profile-menu-container {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
}

.search-bar-container {
  margin: 20px 50px;
}

.profile-menu-container {
  margin-bottom: 20px;
}

.search-bar-container .icon {
  height: 30px;
  margin-right: 10px;
}

.search-bar-container div,
.profile-menu-container div {
  display: flex;
  align-items: center;
}

#searchBar {
  margin-right: 5vh;
  padding: 2px 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(226, 232, 240);
  width: min(500px, 40vw);
}

.profile-picture {
  margin: 0 20px;
  border-radius: 100%;
  height: 50px;
}

.profile-info-container img {
  height: 70px;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-menu-container span {
  font-size: 1rem;
}

.profile-btn-container button {
  margin: 8px;
  padding: 6px;
  width: 120px;
  border: none;
  border-radius: 20px;
  background-color: #1992d4;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

button:hover {
  background-color: #157db4;
}

/* Main */

main {
  background-color: rgb(226, 232, 240);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  gap: 20px;
}
main p {
  color: rgb(104, 104, 104);
}

h3 {
  font-size: 1.5rem;
  margin: 5px;
}

h4 {
  font-size: 1.2rem;
}

.project-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.project {
  border-left: 5px solid rgb(255, 174, 0);

  height: 1fr;
  width: 1fr;
}

.project-screen {
  width: 80%;
  transition: 0.2s;
  border-radius: 4px;
}
.project-screen:hover {
  width: 100%;
  cursor: pointer;
  opacity: 0.7;
}

.box {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.annoucement-trending-container {
  margin-right: 20px;
}

.annoucement-container {
  padding: 30px;
}

hr {
  margin: 15px 0;
  opacity: 0.5;
}

.trending-profile {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.trending-profile span {
  font-weight: 600;
  color: black;
}

/* Footer */

footer {
  width: 100%;
  height: 50px;

  background-color: rgb(194, 199, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.github-logo {
  transition: 0.1s ease-in-out;
  height: 30px;
  margin-left: 20px;
}
.github-logo:hover {
  transform: scale(1.1);
}

/* Media Queries */
@media screen and (max-width: 1100px) {
  h1 {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .profile-container .profile-picture,
  .profile-container p {
    display: none;
  }

  .search-bar-container {
    display: flex;
    justify-content: center;
  }

  .profile-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  nav span {
    display: none;
  }

  .profile-btn-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    display: none;
  }

  .icon {
    min-width: 30px;
  }

  .project-box-container {
    display: flex;
    flex-direction: column;
  }

  .project {
    height: 200px;
  }
}
